
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRANG QUẢN TRỊ</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->

    <link href="/Assets/Admin/libs/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Assets/Admin/libs/toastr.js/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/Admin/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini" ng-app="tedushop" ng-controller="rootController">
    <div ui-view>

        <ul data-widget="treeview"></ul>

    </div>
    <script src="~/Assets/Admin/libs/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/Admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Admin/js/adminlte.min.js"></script>
    <script src="~/Assets/Admin/libs/toastr.js/js/toastr.js"></script>
    <script src="/Assets/Admin/libs/angular.js/angular.js"></script>
    <script src="~/Assets/Admin/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/Assets/Admin/libs/bootbox.js/bootbox.js"></script>
    <script src="~/Assets/Admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/libs/ngbootbox/dist/ngBootbox.js"></script>
    <script src="~/Assets/Admin/libs/ng-ckeditor/ng-ckeditor.js"></script>


    <script src="~/App/shraed/modules/Tedushop.common.js"></script>
    <script src="~/App/shraed/Filters/Status.filters.js"></script>
    <script src="~/App/shraed/Service/notificationService.js"></script>
    <script src="~/App/shraed/Service/apiService.js"></script>
    <script src="~/App/shraed/Service/CommonService.js"></script>
    <script src="~/App/shraed/directives/pageDirective.js"></script>
    <script src="~/App/Components/ProductCategory/ProductCategory.modules.js"></script>
    <script src="~/App/Components/product/Product.modul.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/Components/Home/rootController.js"></script>
    <script src="~/App/Components/Home/HomeController.js"></script>
    <script src="~/App/Components/ProductCategory/ProductCategoryListController.js"></script>
    <script src="~/App/Components/productcategory/ProductCategoryAddController.js"></script>
    <script src="~/App/Components/productcategory/productCategoryEditController.js"></script>
    <script src="~/App/Components/product/ProductListController.js"></script>
    <script src="~/App/Components/product/ProductAddController.js"></script>
    <script src="~/App/Components/product/ProductEditController.js"></script>
    <script src="~/App/Components/Login/loginController.js"></script>

</body>
</html>

