<style>


    table thead tr {
        cursor: pointer;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>SẢN PHẨM</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang trủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Từ khóa" ng-model="keyWord" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" ng-click="SeachPC()" type="button" id="button-addon2">Tìm kiếm</button>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" ui-sref="productadd" type="button" id="button-addon2">THÊM MỚI SẢN PHẨM</button>
                        <button class="btn btn-danger" ng-click="deleteMuti()" type="button" id="btndelete" disabled>Xóa</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                    <th style="width: 10%;" ng-click="sortData('ID')">ID</th>
                                    <th style="width: 40%;" ng-click="sortData('Name')">Tên Danh Mục</th>
                                    <th style="width: 30%;" ng-click="sortData('CreatedDate')">Ngày Tạo</th>
                                    <th style="width: 10%;">Trạng thái</th>
                                    <th style="width: 10%;">Thao tác</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in product | orderBy:sortColum:reverse">
                                    <td><input name="all" type="checkbox" ng-model="item.ckecked" /></td>
                                    <td>{{item.Id}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>
                                        {{item.CreatedDate | date:'dd/MM/yyyy hh:mm:ss'}}
                                    </td>
                                    <td><span ng-class="{'badge bg-danger': item.Status == true, 'badge bg-blue': item.Status == false  }">{{item.Status | statusfilters}}</span></td>
                                    <td>

                                        <button class="btn btn-sm btn-primary" ui-sref="productEdit({id:item.ID})"><i class="fa fa-paint-brush"></i></button>

                                        <button class="btn  btn-sm btn-danger" ng-click="deldeteproduct(item.Id)"><i class="fa fa-trash"></i></button>

                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Tổng số bản ghi: {{TotalCuont}} </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <page-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pageCount}}" total-count="{{TotalCuont}}" search-func="getProduct(page)"></page-directive>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>