﻿<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display:inline">
        <ul class="pagination pagination-sm">
            <li style="padding: 2px; border: 2px solid #c7b5b7;"><a ng-hide="page == 1" ng-click="search(0)"><<</a></li>
            <li style="padding: 2px; border: 2px solid #c7b5b7;"><a ng-hide="page == 3" ng-click="search(page-1)"><</a></li>
            <li  style="padding: 2px; border: 2px solid #c7b5b7; " ng-repeat="n in range()" ng-class="{active: n == page}">
                <a ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <span ng-if="n == page">{{n+1}}</span>
            </li>
            <li style="padding: 2px; border: 2px solid #c7b5b7;"><a ng-hide="page == pagesCount - 1" ng-click="search(pagePlus(1))">></a></li>
            <li style="padding: 2px; border: 2px solid #c7b5b7; "><a ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">>></a></li>
        </ul>
    </div>
</div>

