<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>CẬP NHẬT DANH MỤC : {{ProducCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang trủ</a></li>
                    <li class="breadcrumb-item active">SẢN PHẨM</li>
                    <li class="breadcrumb-item"><a ui-sref="productcategory">DANH MỤC</a></li>
                    <li class="breadcrumb-item">CẬP NHẬT</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{ProducCategory.Name}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate role="form" name="frmEditProduct" ng-submit="frmProductcategoryEdit()">
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tên Danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" required ng-change="GetseoAlias()" ng-model="ProducCategory.Name">
                        <span ng-show="frmEditProduct.Name.$invalid" style="color:red;"> Phải nhập tên danh mục</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tiêu đề Seo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Alias" ng-model="ProducCategory.Alias">
                        <span ng-show="frmEditProduct.Alias.$invalid" style="color:red;"> Phải nhập Tiêu đề Seo</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Description" ng-model="ProducCategory.Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="ProducCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="ProducCategory.ParentID" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Thứ tự hiển thị</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="DisplayOder" ng-model="ProducCategory.DisplayOder">
                        <span ng-show="frmEditProduct.DisplayOder.$invalid" style="color:red;"> Phải nhậpthứ tự</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Image" ng-model="ProducCategory.Image">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Meta KeyWord</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="MetaKeyword" ng-model="ProducCategory.MetaKeyword">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="MetaDescription" ng-model="ProducCategory.MetaDescription"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="Status" ng-model="ProducCategory.Status" ng-checked="ProducCategory.Status">
                            <label class="form-check-label" for="exampleCheck2">Kích hoạt</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="HomeFlang" ng-model="ProducCategory.HomeFlang" ng-checked="ProducCategory.HomeFlang">
                            <label class="form-check-label" for="exampleCheck2">Hiển thị trang chủ</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" ng-disabled="frmEditProduct.$invalid" class="btn btn-info">Lưu lại</button>
                <button type="submit" ui-sref="productcategory" class="btn btn-default float-right">Hủy</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>

</section>